/* Generics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* root */
:root {
  --dc-dark: #1c1c1c;
  --dc-primary: #0282f9;
  --dc-dark-gray: #303030;
  --dc-light-gray: #797979;
}


/* Debug */
.debug * {
  border: 1px dashed black;

  /* header {
    height: 117px;
    background-color: red;
  } */

  /* main {
    height: 288px;
    background-color: blue;
  } */

  footer {
    height: 480px;
    background-color: gray;
  }
}


/* Generics */
ul {
  list-style: none;
  padding: 0;
}



/* Header */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  width: 85px;
}

.logo img {
  max-width: 100%;
}

.nav {
  text-transform: uppercase;
  font-weight: 600;
}

.nav-link {
  color: var(--dc-light-gray-gray);
  height: 100%;
}

.nav-link:hover {
  color: var(--dc-primary);
  text-decoration: underline;
  transition: none;
}


/* Main */
main {
  background-color: var(--dc-dark);
  padding: 3rem 0;
}

.content h3 {
  color: white;
}

.banner {
  background-color: var(--dc-primary);
  width: 100%;
  padding: 3rem 0;
}

.banner ul {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  margin: 0;
}

.banner ul li {
  display: flex;
  align-items: center;
}

.banner ul li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 0.5rem;
}

.icon {
  width: 50px;
}

.icon img {
  max-width: 100%;
}