/* Generics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* root */
:root {
  --dc-dark: #1c1c1c;
  --dc-primary: #0282f9;
  --dc-dark-gray: #303030;
  --dc-light-gray: #797979;
}


/* Debug */
.debug * {
  border: 1px dashed black;

  /* header {
    height: 117px;
    background-color: red;
  } */

  /* main {
    height: 288px;
    background-color: blue;
  } */

  /* footer {
    height: 480px;
    background-color: gray;
  } */
}


/* Generics */
ul {
  list-style: none;
  padding: 0;
}

.card * {
  border-radius: 0 !important;
  border-width: 0 !important;
}

.card-img-top {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
}

.card-body {
  position: relative;
}

.card-title {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
}


/* Header */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 85px;
}

.logo img {
  max-width: 100%;
}

.nav {
  text-transform: uppercase;
  font-weight: 600;
}

.nav-link {
  color: var(--dc-light-gray-gray);
  height: 100%;
  border-bottom: 5px solid transparent;
  padding: 3rem 0;
}

.nav-link:hover {
  color: var(--dc-primary);
  transition: none;
  border-bottom: 5px solid var(--dc-primary);
}


/* Main */
main {
  background-color: var(--dc-dark);
  padding: 3rem 0;
  background-image: url('./assets/img/jumbotron.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.banner {
  background-color: var(--dc-primary);
  width: 100%;
  padding: 3rem 0;
}

.banner ul {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  margin: 0;
}

.banner ul li {
  display: flex;
  align-items: center;
}

.banner ul li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 0.5rem;
}

.icon {
  width: 50px;
}

.icon img {
  max-width: 100%;
}




/* Footer */

/* Footer-TOP */
.footer-top {
  background-image: url('./assets/img/footer-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-top .container {
  background-image: url('./assets/img/dc-logo-bg.png');
  background-position: right;
  background-repeat: no-repeat;
}

.contacts {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 0;
}

.contacts h5 {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.contacts ul {
  width: calc(100% / 3);
}

.contacts ul li a {
  color: white;
  text-transform: capitalize;
  font-weight: 100;
  text-decoration: none;
}

.ft-logo-bg {
  width: 50%;
  background-image: url('./assets/img/dc-logo-bg.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}


/* Footer-BOTTOM */
.footer-bottom {
  background-color: var(--dc-dark-gray);
  padding: 3rem 0;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

.fb-btn {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid var(--dc-primary);
  padding: 0.5rem 1rem;
}

.socials {
  display: flex;
  align-items: center;
  height: 100%;
}

.socials h5 {
  color: var(--dc-primary);
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

.socials a {
  margin-left: 1rem;
}